/* * {
    padding: 0;
    margin: 0;
} */

.text-color {
    color: #373b52;
}
.bg-color {
    color: #1d1e26;
}

body {
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    min-height: 100vh;
}

header {
    background: -webkit-linear-gradient(to right, #373b52, #1d1e26);
    background: linear-gradient(to right, #373b52, #1d1e26);
}

.hidden {
    display: none;
}

.popup-container {
    width: 100%;
    height: 100%;
    background: rgba(50,50,50,0.5);
    position: fixed;
    top: 0;
    z-index: 500;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 20px 13px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff,#ccc);
    background: -webkit-linear-gradient(#fff,#ccc);
    background: -o-linear-gradient(#fff,#ccc);
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}
.result-title {
    margin-top: 5px;
    padding: 10px;
    color: #fff;
    background-color: #0d6efd;
    font-size: 22px;
    font-weight: bold;
}
.show-answer {
    width: 50%;
    margin: 5px auto;
    padding: 1.5rem 0;
    color: #000;
    background-color: rgba(13, 110, 253, 0.5);
    font-size: 32px;
    border-radius: 10px;
}
.popup-msg {
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
}

.left {
    width: 65%;
    
}
.right {
    width: 35%;
}

/* .wrapper {
    width: fit-content;
    margin: auto;
} */

.word-display {
    position: relative;
    display: inline-block;
}
.word-display span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}
.blank {
    margin: 0 0.5rem;
}

.space {
    padding: 0 0.5rem;
    /* background-color: #373b52; */
}

.key {
    width: 5rem;
    height: 5rem;
    margin: 10px;
    border-radius: 5px;
}
.key:hover {
    /* background-color: #e75480 !important;
    border: #e75480 !important; */
}
.correct {
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
.incorrect {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.disabled {
    background-color: darkgray;
    border-color: darkgray;
    pointer-events: none;
    opacity: 0.65;
}

.svg-inline--fa {
    color: #FAA0A0;
    margin-left: 5px;
}

/* .hint-container {
    clear: right;
} */

footer {
    background-color: #373b52;
}
